body, html{
  height:100%;
}
body{
  background-image: url('http://www.whitehousemuseum.org/images/white-house-north-2007-dj.jpg');
  background-size: cover;
  background-position: center;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

/*people container*/
.people{
  position: absolute;
}

.face {
  width:75px; 
  height:75px;
  z-index: 1;
  left: -10px;
  top: 8px;
  position:relative;
}

/*people faces*/
.blinky{
  content: url('http://i.imgur.com/HRBWNDg.png');
  /*border:10px solid red;
  border-radius:10px;*/
}
.moving{
  content: url('http://i.imgur.com/YQjnoH1.png');
  left: -19px;
}
.obama{
  content: url('http://pngimg.com/upload/face_PNG5649.png');
  top: 20px;
  left: -12px;
}

/*people body*/
.figure {
  content: url('/Users/student/Downloads/anonyman_t.jpeg');
  width:50px;
  position: relative;
  z-index: 0;
}