body, html{
  height:100%;
}
body{
  background-image: url('http://s.newsweek.com/sites/www.newsweek.com/files/2015/06/26/white-house-rainbow-3.jpg');
  background-size: cover;
  background-position: center;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.movingDancer{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute; 
}
.obama{
  content: url('http://pngimg.com/upload/face_PNG5649.png');
  content: url('http://www.clker.com/cliparts/e/5/d/9/1194984539216837021man02.svg.hi.png');
  width:50px; 
  height:50px;
  position:absolute;
}